<% define_template "instantiation", jsonmodel_definition(:instantiation) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "identifier" %>
    <%= form.label_and_date "date" %>
    <%= form.label_and_textfield "digital" %>
    <%= form.label_and_textfield "standard" %>
    <%= form.label_and_textfield "generations" %>
    <%= form.label_and_textfield "colors" %>
  </div>
<% end %>