<%
   section_id = "digital_object_linked_instantiations_" if section_id.blank?
%>

<section id="<%= section_id %>" class="subrecord-form-dummy">
  <h3><%= I18n.t("instantiation._plural") %></h3>
  <div class="subrecord-form-container">
    <div class="subrecord-form-fields">
      <% instantiations.each_with_index do | inst, index | %>
        <table class="table table-striped table-bordered table-condensed table-hover token-list">
          <tbody>
            <tr>
              <td class="col-md-12">
                <h4><%= I18n.t("instantiation._singular") %></h4>
              </td>
            </tr>
            <% inst.keys.each do |key| %>
              <% if inst["#{key}"].present? %>
                <tr>
                  <td class="col-md-4 instantiation-show-col">
                    <%= I18n.t("instantiation.#{key}") %>
                  </td>
                  <td class="col-md-8 instantiation-show-col">
                    <%= inst[key] %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>