<% define_template "instantiation", jsonmodel_definition(:instantiation) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "identifier" %>
    <%= form.label_and_date "date" %>
    <%= form.label_and_textfield "digital" %>
    <%= form.label_and_textfield "standard" %>
    <%= form.label_and_textfield "generations" %>
    <%= form.label_and_textfield "colors" %>
    <%= form.label_and_textfield "video_track_standard" %>
    <%= form.label_and_textfield "audio_track_standard" %>
    <%= form.label_and_textfield "video_track_encoding" %>
    <%= form.label_and_textfield "audio_track_encoding" %>
    <%= form.label_and_textfield "video_track_data_rate" %>
    <%= form.label_and_textfield "audio_track_data_rate" %>
    <%= form.label_and_textfield "frame_rate" %>
    <%= form.label_and_textfield "playback_speed" %>
    <%= form.label_and_textfield "sampling_rate" %>
    <%= form.label_and_textfield "video_bit_depth" %>
    <%= form.label_and_textfield "audio_bit_depth" %>
    <%= form.label_and_textfield "frame_size" %>
    <%= form.label_and_textfield "aspect_ratio" %>
    <%= form.label_and_textfield "video_track_time_start" %>
    <%= form.label_and_textfield "audio_track_time_start" %>
    <%= form.label_and_textfield "video_track_duration" %>
    <%= form.label_and_textfield "audio_track_duration" %>
  </div>
<% end %>